<div class="archive__item">
  {% if post.header.image %}
  <div class="archive__item-teaser">
    <a href="{{ post.url | relative_url }}">
      <img src="{{ post.header.image | relative_url }}" alt="{{ post.title }}">
    </a>
  </div>
  {% endif %}

  <div class="archive__item-body">
    <h3 class="archive__item-title">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h3>

    {% if post.excerpt %}
      <p class="archive__item-excerpt">{{ post.excerpt }}</p>
    {% endif %}

    <a href="{{ post.url | relative_url }}" class="btn btn--primary btn--small mt-2">View Project →</a>
  </div>
</div>
